{% extends 'base.html.twig' %}

{% block title %}Página Principal - Pokémon{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenido a la Pokedex</h1>
        <p>¡Haz clic en los enlaces de abajo para interactuar con la aplicación!</p>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-actions">
                <h2>Acciones de Administrador</h2>
                <p>Como administrador, puedes realizar las siguientes acciones:</p>
                <ul>
                    {# <li><a href="{{ path('app_create_pokemon') }}">Crear Pokémon</a></li> #}
                </ul>
            </div>
        {% endif %}

        <div class="user-actions">
            <h2>Acciones para todos los usuarios</h2>
            <ul>
                <li><a href="{{ path('pokedex_user') }}">Ver mi Pokedex</a></li>
                <li><a href="{{ path('viewpokemoncapture') }}">Capturar Pokémon</a></li>
            </ul>
        </div>

        <div class="info">
            <p>Si no tienes una cuenta, <a href="{{ path('app_register') }}">regístrate aquí</a> para empezar a capturar Pokémon.</p>
            <li><a href="{{ path('updaterol') }}">Admin</a></li>
        </div>
    </div>
{% endblock %}
