{% extends 'base.html.twig' %}

{% block title %}Mi Pokédex{% endblock %}

{% block body %}
    <h1>Mi Pokédex</h1>
<a href="{{path("app_main")}}">Volver al inicio</a>
    {% if pokemons is empty %}
        <p>No has capturado ningún Pokémon aún.</p>
    {% else %}
        <div class="pokemon-list">
            {% for pokemon in pokemons %}
                <div class="pokemon-card">
                    <img src="{{ asset('images/pokemon/' ~ pokemon.image) }}" alt="{{ pokemon.name }}">
                    <h2>{{ pokemon.name }}</h2>
                    <p><strong>Tipo:</strong> {{ pokemon.tipo }}</p>
                    <p><strong>Nivel:</strong> {{ pokemon.level }}</p>
                    <p><strong>Fuerza:</strong> {{ pokemon.strong }}</p>
                </div>
                <a href="{{ path('app_new_battle', { id: pokemon.id }) }}">Pelear</a><br>
                <a href="{{ path('app_pokedex_training', { id: pokemon.id }) }}">Entrenar</a><br>
                <hr>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}
